

body {
    overflow-x: hidden;
  }
  
  .leader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .team {
    background-color: #222229;
    border-radius: 3em;
    position: relative;
    width: 25em;
    height: 38em;
    margin: 3em auto;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
  }
  
  .a {
    transform: rotateZ(-20deg) translate(10em, 6em);
    z-index: 1;
  }
  
  .c {
    transform: rotateZ(20deg) translate(-10em, 6em);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  
  #b {
    z-index: 2;
  }
  #b:hover{
    transform: scale(1.1);
    cursor: pointer;
    border:1px solid white;
  }
  .members{
    margin-top:6em;
  }
  #centrecard{
    color:white;
    text-align: center;
    margin-top: 8em;
  }
  
  #memName{
    position: relative;
    bottom: 2.3em;
    left:4em;
  }
  .card:nth-child(2n+1){
    width:50em;
    height: 6em;
    border: 2px solid white;
    margin: 2em 4em;
    border-radius: 3em;
    color: white;
    transition: all 0.5s ease-in-out;
  
  }
  .card:nth-child(2n){
    width:50em;
    height: 6em;
    border: 2px solid white;
    margin: 2em 40em;
    
    border-radius: 3em;
    color: white;
    transition: all 0.5s ease-in-out;
  
  }
  .card:hover{
    background-color: #222229;
    height:20em;
    cursor: pointer;
  }
  .circleimg{
    position: relative;
    top:1em;
    left:1em;
    width:4em;
    height:4em;
    border-radius:50%;
    border: 2px solid white;
  }
  
  #details{
    position: relative;
    top: -2em;
    left: 2em;
    text-align: justify;
    width:45em;
    transform: all 1s ease-in-out;
  }
  
  .imgC{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    filter:drop-shadow(0 0 1em black);
  }
  .name{
    position: relative;
    left: 50%;
    transform: translateX(-20%);
    color: white;
  }
  #a p,#c p{
    text-align: justify;
    padding: 2em;
    color: white;
  }