@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
  }
*{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    font-family: "Urbanist", sans-serif;
}

.r{
    animation: toright 2s ease-in-out infinite;
    transition: animation 2s ease-in-out;
}

.l{
    animation: toleft 2s ease-in-out infinite;
    transition: animation 2s ease-in-out;
}

@keyframes toright{
    0%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(250%);
    }
    
}

@keyframes toleft{
    0%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(-250%);
    }
    
}
.install{
    position: absolute;
    left: 68.5%;
    top:100%;
}
.sdbar{
    height: 2em;
}
.blur {
    filter: blur(5px);
    transition: all 0.5s ease-in-out;
}