@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
  }
*{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    font-family: "Urbanist", sans-serif;
}

.r{
    animation: toright 2s ease-in-out infinite;
    transition: animation 2s ease-in-out;
}

.l{
    animation: toleft 2s ease-in-out infinite;
    transition: animation 2s ease-in-out;
}

@keyframes toright{
    0%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(250%);
    }
    
}

@keyframes toleft{
    0%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(-250%);
    }
    
}
.install{
    position: absolute;
    left: 5%;
    top:30%;
}
.sdbar {
    height: 110vh;
    width: 50%;
    backdrop-filter: blur(10px); /* Blurs the background behind the element */
    position: fixed;
    top: -5vh;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Initial state of the div */
  .div-slide {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .div-slide.slide-in {
    animation: slideIn 0.3s forwards;
  }
  
  .div-slide.slide-out {
    animation: slideOut 0.3s forwards;
    transition: all 0.3s ease-in-out;

  }
  .it{
    margin-bottom:1em;
  }
  .logoSidebar{
    width:40%;

    margin-bottom: 10%;
  }
  .logoSidebar2{
    position: relative;
    width:12%;
    left: 4%;
    top:30%;
    
  }
  .menu{
    position: absolute;
    left: 75%;
    top:10%;
  }